In [13]:
# Import libraries 
import pandas as pd
import numpy as np
import pyodbc 
import os 
from tqdm import tqdm 
import sys
import time

In [14]:
# Establish connection to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                       'Server=esmz08srdb029.imptobnet.com;'
                       'Database=ITE_PRD;'
                       'Trusted_Connection=yes;')

In [15]:
OUTPUT = '../02_Data/01_TT_Sales_and_Invest_10d_by_brand.csv'

In [16]:
t1 = time.time()

In [17]:
# Open SQL query file 
sql = open('../01_TT_Sales_and_Invest_10d_by_brand.sql', 'r').read()
cursor = conn.cursor()

In [18]:
# Generate chunks for batch reading avoiding out of memory
chunksize = 200000
generator = pd.read_sql(sql,conn, chunksize=chunksize)
     
begin = True
for chunk in tqdm(generator):
    if begin:
        chunk.to_csv(OUTPUT, sep='|', index=False, mode='w')
        begin = False
    else:
        chunk.to_csv(OUTPUT, sep='|', index=False, mode='a', header=False)

t2 = time.time()
print ("Time to execute script:",str(t2-t1))

0it [00:00, ?it/s]

1it [03:17, 197.49s/it]

2it [06:54, 203.29s/it]

3it [10:18, 203.48s/it]

4it [13:43, 204.03s/it]

5it [17:27, 209.97s/it]

6it [20:47, 206.98s/it]

7it [24:50, 217.76s/it]

8it [28:18, 214.79s/it]

9it [31:53, 214.81s/it]

10it [35:44, 219.96s/it]

11it [39:16, 217.27s/it]

12it [43:04, 220.76s/it]

13it [46:50, 222.09s/it]

14it [50:26, 220.36s/it]

15it [54:25, 226.02s/it]

16it [58:08, 225.10s/it]

17it [1:01:49, 223.95s/it]

18it [1:05:45, 227.43s/it]

19it [1:10:00, 235.68s/it]

20it [1:13:51, 234.44s/it]

21it [1:17:45, 234.30s/it]

22it [1:22:06, 242.24s/it]

23it [1:26:31, 249.09s/it]

24it [1:30:46, 250.72s/it]

25it [1:35:27, 259.87s/it]

26it [1:39:59, 263.39s/it]

27it [1:45:05, 276.35s/it]

28it [1:49:58, 281.25s/it]

29it [1:53:52, 235.60s/it]

Time to execute script: 6837.833256959915

In [19]:
print ("Time to execute script:",str(round((t2-t1)/3600,2)), "h")

Time to execute script: 1.9 h

In [17]:
dataset = pd.read_csv(OUTPUT,sep='|')

In [18]:
dataset.columns

Index(['CUSTOMER_ID', 'BRANDFAMILY_ID', 'R', 'tercio', 'NUM_SELLING_DAYS', 'NUM_DAYS', 'days_btw_order', 'num_orders', 'CAL_DATE', 'CAL_DATE_end', 'SI_ITG_WSE', 'SI_MRKT_WSE', 'SO_ITG_WSE', 'SO_MRKT_WSE', 'QUOTA_SELLIN', 'QUOTA_SELLOUT', 'MECHERO', 'CLIPPER', 'ABP', 'DISPENSADOR', 'VISIBILIDAD', 'AZAFATA', 'TOTEM', 'SVM', 'TFT', 'CUE', 'VISIT', 'PERC_MECHERO', 'PERC_CLIPPER', 'PERC_ABP', 'PERC_DISPENSADOR', 'PERC_VISIBILIDAD', 'PERC_AZAFATA', 'PERC_TOTEM', 'PERC_SVM', 'PERC_TFT', 'PERC_CUE', 'PERC_visit'], dtype='object')

In [19]:
pd.options.display.width = 0
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [20]:
dataset.head()

   CUSTOMER_ID BRANDFAMILY_ID   R  tercio  NUM_SELLING_DAYS  NUM_DAYS  days_btw_order  num_orders    CAL_DATE CAL_DATE_end  SI_ITG_WSE  SI_MRKT_WSE  SO_ITG_WSE  SO_MRKT_WSE  QUOTA_SELLIN  QUOTA_SELLOUT  MECHERO  CLIPPER  ABP  DISPENSADOR  VISIBILIDAD  AZAFATA  TOTEM  SVM  TFT  CUE  VISIT  PERC_MECHERO  PERC_CLIPPER  PERC_ABP  PERC_DISPENSADOR  PERC_VISIBILIDAD  PERC_AZAFATA  PERC_TOTEM  PERC_SVM  PERC_TFT  PERC_CUE  PERC_visit
0      8050361       BF234104  38       1                 8        12           14.00        1.00  2018-08-01   2018-08-12     6011.00    199021.00     2976.00    222881.00          0.03           0.01        0        0    0            0            0        0      0    0    0    0      0          0.00          0.00      0.00              0.00              0.00          0.00        0.00      0.00      0.00      0.00        0.00
1      8951428       BF231021  38       2                 7        10            8.00        1.00  2018-05-14   2018-05-23     5774.00    145687.00     1703.00    103554.00          0.04           0.02        0        0    0            0            0        0      0    0    0    0      2          0.00          0.00      0.00              0.00              0.00          0.00        0.00      0.00      0.00      0.00        0.20
2      8951428       BF234104  38       2                 7        10            8.00        1.00  2018-05-14   2018-05-23     5325.00    145687.00     3370.00    103554.00          0.04           0.03        0        0    0            0            0        0      0    0    0    0      2          0.00          0.00      0.00              0.00              0.00          0.00        0.00      0.00      0.00      0.00        0.20
3     15190671       BF241049  39       3                 6         8           14.00        1.00  2018-05-24   2018-05-31      844.00     22941.00     1679.00     15910.00          0.04           0.11        0        0    0            0            0        0      0    0    0    0      0          0.00          0.00      0.00              0.00              0.00          0.00        0.00      0.00      0.00      0.00        0.00
4     44050037       BF234103  39       3                 6         8           14.00        1.00  2018-05-24   2018-05-31      943.00     99770.00      440.00     77710.00          0.01           0.01        0        0    0            0            0        0      0    0    0    0      0          0.00          0.00      0.00              0.00              0.00          0.00        0.00      0.00      0.00      0.00        0.00

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5721986 entries, 0 to 5721985
Data columns (total 38 columns):
CUSTOMER_ID         int64
BRANDFAMILY_ID      object
R                   int64
tercio              int64
NUM_SELLING_DAYS    int64
NUM_DAYS            int64
days_btw_order      float64
num_orders          float64
CAL_DATE            object
CAL_DATE_end        object
SI_ITG_WSE          float64
SI_MRKT_WSE         float64
SO_ITG_WSE          float64
SO_MRKT_WSE         float64
QUOTA_SELLIN        float64
QUOTA_SELLOUT       float64
MECHERO             int64
CLIPPER             int64
ABP                 int64
DISPENSADOR         int64
VISIBILIDAD         int64
AZAFATA             int64
TOTEM               int64
SVM                 int64
TFT                 int64
CUE                 int64
VISIT               int64
PERC_MECHERO        float64
PERC_CLIPPER        float64
PERC_ABP            float64
PERC_DISPENSADOR    float64
PERC_VISIBILIDAD    float64
PERC_AZAFATA        float64
PERC_TOTEM          float64
PERC_SVM            float64
PERC_TFT            float64
PERC_CUE            float64
PERC_visit          float64
dtypes: float64(19), int64(16), object(3)
memory usage: 1.6+ GB

In [ ]:
dataset.CUSTOMER_ID = dataset.CUSTOMER_ID.astype(str)
dataset.R = dataset.R.astype(str)

In [ ]:
dataset.shape

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
dataset.describe()